body, div, h1, h2, h3, h4, h5, h6, p, ol, ul, li {
  padding: 0;
  margin: 0;
  font-family: "Helvetica";
}

article, nav > div {
  width: 940px;
  margin: 0 auto;
}

article {
  position: static;
  margin-top: 72pt;
}

h2, h3, p, ol, ul {
  margin-bottom: 9pt;
}

p + ul, p + ol {
  margin-top: -9pt;
}

ol, ul {
  margin-left: 27pt;
}

h1 {
  color: #606060;
  font-size 18pt;
  text-transform: lowercase;
  margin-bottom: 18pt;
}

p, li {
  color: #202020;
  line-height: 18pt;
}

h2 {
  color: #606060;
  font-size: 24pt;
  text-transform: lowercase;
}

h3 {
  color: #404040;
  font-size: 18pt;
  line-height: 18pt;
  text-transform: lowercase;
}

p cite {
  color: #303030;
}

body, p, li {
  font-size: 12pt;
}

p.section-description {
  margin-bottom: 36pt;
}

section {
  clear: both;
  overflow: hidden;
  margin-bottom: 36pt;
}

.row {
  clear: both;
  overflow: hidden;
}

.row + .row {
  margin-top: 18pt;
}

p.quote {
  font-size: 18pt;
  font-style: italic;
  font-weight: lighter;
}

p.quotation-source {
  text-align: right;
}

.columns_3, .columns_4, .columns_6, .columns_9, .columns_8, .columns_12 {
  float: left;
}

.column + .column {
  margin-left: 20px;
}

nav, article {
  clear: both;
}

/* .columns_3, .columns_6, .columns_12 { */
/*   margin-left: 20px; */
/*   margin-right: 20px; */
/* } */

img {
  max-width: 100%;
}

.columns_3 {
  width: 220px;
}

.columns_4 {
  width: 300px;
}

.columns_6 {
  width: 460px;
}

.columns_8 {
  width: 620px;
}

.columns_9 {
  width: 700px;
}

.columns_12 {
  width: 940px;
}

ul.site-nav {
  margin: 0;
}

ul.site-nav > li {
  font-size: 16pt;
  float: left;
  margin-left: 18pt;
  text-align: baseline;
}

ul.site-nav > li:first-of-type {
  margin-left: 0;
}

.dropdown-menu {
  margin: 0 -9pt;
  padding: 0;
}

.dropdown-menu li {
  margin: 9pt 9pt;
  padding: 0;
}

nav {
  top: 0;
  height: 54pt;
  min-width: 940px;
  background-color: rgba(32, 32, 32, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: lowercase;
  position: fixed;
  width: 100%;
}

span.project-type-header {
  font-weight: bold;
  color: #BFBFBF;
}

nav li, nav a {
  color: #FFFFFF;
  list-style: none;
}

.project-type > ul {
  margin-left: 9px;
  padding-left: 0px;
}

.project-type + .project-type {
  margin-top: 18px;
}

li.project-link {
  margin-left: 0px;
  padding-left: 0px;
}

nav a:link {
  text-decoration: none;
}

nav a:visited {
  text-decoration: none;
}

.site-nav > li:hover, .project-link:hover {
  text-decoration: underline;
}

.site-nav > li.current-page:hover, .project-link.current-page:hover {
  text-decoration: none;
}

.dropdown {
  display: inline-block;
}

.dropdown.show .dropdown-menu-hack, .dropdown:hover .dropdown-menu-hack {
  display: block;
}

.dropdown-menu-hack {
  display: none;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
}

.dropdown-menu {
  margin-top: 18pt;
  background-color: rgba(32, 32, 32, 0.95);
}

ul.site-nav > li.home-link {
  font-size: 24pt;
}

.current-page {
  color: #BFBFBF;
}
.current-page:hover {
  text-decoration: none;
}

.project-preview > img {
  margin-bottom: 9pt;
}

a.project-preview:hover {
  text-decoration: underline;
}

a.project-preview:visited {
  text-decoration: none;
}

a.project-preview:link {
  text-decoration: none;
}

p a {
  color: #202020;
}

.award img {
  display: block;
  margin: auto;
}

.award > .award-name {
  font-size: 18pt;
  text-align:center;
}

.award > .awarder {
  text-align: center;
}

a:hover > p {
  text-decoration: underline;
}

a {
  position: relative;
}

div.img-darkener {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.0);
}

a:hover > div.img-darkener {
  background-color: rgba(0, 0, 0, 0.075);
}
